{% load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>CHRISTIAN CHURCH INTERNATIONAL</title>

		<!-- Loading third party fonts -->
		<link href="{% static 'fonts/novecento-font/novecento-font.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		<div class="site-content">
			<header class="site-header">
				<div class="container">
					<a href="#" class="branding">
						
						<h1 class="site-title">CHRISTIAN CHURCH INTERNATIONAL -NYACABA</h1>
					</a>

					<div class="main-navigation">
						<button class="menu-toggle"><i class="fa fa-bars"></i> Menu</button>
						<ul class="menu">
							<li class="menu-item"><a href="">Homepage </a></li>
							<li class="menu-item"><a href="sermons">Sermons </a></li>
							<li class="menu-item current-menu-item"><a href="events">Events </a></li>
							
							
						</ul>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->

			<div class="hero">
				<div class="slides">
					<li data-bg-image="{% static 'images/slide-1.jpg' %}">
						<div class="container">
							<div class="slide-content">
								<small class="slide-subtitle">CCI -NYACABA</small>
								<h3 class="slide-subtitle">2022 Theme:Resounding the vision</h3>

								
							</div>
						</div>
					</li>

					</li>
				</div>
			</div>

			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						

						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="news">
									<H2>Services</H2>
									<h3 class="news-title"><a href="#">English service 8:00 am- 10:00 am</a></h3>
									<h3 class="news-title"><a href="#">Kiswahili service 10:00 am- 1:00 pm</a></h3>
									<h3 class="news-title"><a href="#">Bible study 10:30 am- 11:00 am</a></h3>
									<h3 class="news-title"><a href="#">Sunday school service 9:00 am 10:00 am</a></h3>
									<h3 class="news-title"><a href="#">Midweek service 7:00 pm- 8:15 pm on wednesday</a></h3>
								</div>
							</div>
							
							
							
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- section -->


				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							
							<div class="col-md-6">
								<h2 class="section-title">Latest seremons</h2>
								<ul class="seremon-list">
									<li>
										
										<div class="seremon-detail">
											<h3 class="seremon-title"><a href="#">{{sermons.theme}}</a></h3>
											<div class="seremon-meta">
												<div class="pastor"><i class="fa fa-user"></i> {{sermons.preacher}}</div>
											
												<div class="date"><i class="fa fa-calendar"></i> {{sermons.date_today}}</div>
											</div>
										</div>
									</li>
							
								
								</ul>


								<div class="text-center">
									<a href="sermons" class="button">See all seremons</a>
								</div>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- section -->
			</main> <!-- .main-content -->



			
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="widget">
								<h3 class="widget-title">About us</h3>
								<p>we are located in kiambu county ,juja constituency </p>
								<ul class="address">
									<a href="location"><li><i class="fa fa-map-marker"></i> view location</li></a>
									<a href="https://www.facebook.com/CCINYACABA"><li><i class="fa fa-facebook"></i> Facebook </li></a>
									<a href="https://www.youtube.com/channel/UCvBdp-VLziuGJNNCYsjl6Iw"><i class="fa fa-youtube"></i> YouTube</li></a>
								</ul>
								<p class="colophon">Copyright 2022  CCI. All right reserved</p>
							</div>
						</div>
						
							</div>
							
						</div>
						
						

					
				</div><!-- .container -->
				
			</footer> <!-- .site-footer -->
		</div>
		

		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/app.js'%}"></script>
		
	</body>

</html>