{% load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>CHRISTIAN CHURCH INTERNATIONAL</title>

		<!-- Loading third party fonts -->
		<link href="{% static 'fonts/novecento-font/novecento-font.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
        <link rel="stylesheet" href="{% static 'style.css' %}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		<div class="site-content">
			<header class="site-header">
				<div class="container">
					<a href="#" class="branding">
						
						<h1 class="site-title">CHRISTIAN CHURCH INTERNATIONAL -NYACABA</h1>
					</a>

					<div class="main-navigation">
						<button class="menu-toggle"><i class="fa fa-bars"></i> Menu</button>
						<ul class="menu">
							<li class="menu-item"><a href="home">Homepage </a></li>
	
							<li class="menu-item"><a href="sermons">Sermons </a></li>
							<li class="menu-item current-menu-item"><a href="events">Events </a></li>
							
							
						</ul>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->

			<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
				<div class="container">
					<h2 class="page-title">Sermons</h2>
				</div>
			</div>

			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="content col-md-8">
								<h2 class="section-title">Latest sermons</h2>
{% for instance in sermons%}
								<ul class="event-list large">
									<li>
										<div class="seremon-detail">
											<h3 class="seremon-title"><a href="#">{{instance.theme}}</a></h3>
											<div class="seremon-meta">
												<div class="pastor"><i class="fa fa-user"></i> {{instance.preacher}}</div>
												<div class="pastor">{{instance.verses}}</div>
												<div class="date"><i class="fa fa-calendar"></i> {{instance.date_today}}</div>
											</div>
											<p>{{instance.sermon_summary}}</p>
										</div>
									</li>
							
								
									
								</ul>

						
							</div>
							
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
{%endfor%}

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="widget">
								<h3 class="widget-title">About us</h3>
								<p>we are located in kiambu county ,juja constituency </p>
							
								<ul class="address">
									
									<a href="location"><li><i class="fa fa-map-marker"></i> view location</li></a>
									<a href="https://www.facebook.com/CCINYACABA"><li><i class="fa fa-facebook"></i> Facebook </li></a>
									<a href="https://www.youtube.com/channel/UCvBdp-VLziuGJNNCYsjl6Iw"><i class="fa fa-youtube"></i> YouTube</li></a>
								</ul>
								<p class="colophon">Copyright 2022  CCI. All right reserved</p>
							
								 </div>
							</div>
						</div>
						

					
				</div><!-- .container -->

			</footer> <!-- .site-footer -->

		</div>
		

		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/app.js'%}"></script>
		
		
	</body>

</html>